<%# The method: :patch option tells Rails that we want this form to
be submitted via the PATCH HTTP method which is the HTTP method you're
expected to use to update resources according to the REST protocol %>

<h1>Edit article</h1>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
